<ion-view>
    <ion-nav-title>
        <span style="font-weight: bold">MWFC</span> - Oficial
    </ion-nav-title>
    <ion-content class="dark">
        <div class="row text-center dark">
            <div class="col col-33"></div>
            <div class="col"><h1>23/10</h1></div>
            <div class="col col-33"></div>
        </div>
        <div class="row text-center dark">
            <div class="col col-33"><img src="img/Escudo.png" style="height: 80px"/></div>
            <div class="col"><h1>18:00</h1></div>
            <div class="col col-33"><img src="img/clubes/liverpool-u.png" style="height: 80px"/></div>
        </div>
        <div class="row text-center dark" style="color: #555">
            <div class="col col-33"><h4>Wanderers</h4></div>
            <div class="col"></div>
            <div class="col col-33"><h4>Liverpool</h4></div>
        </div>
        <div class="row text-center dark">
            <div class="col">
                <div class="divider" ui-sref="app.fixture">Fixture</div>
            </div>
            <div class="col col-10"></div>
            <div class="col">
                <div class="divider" ui-sref="app.lineup">Alineación</div>
            </div>
        </div>
        <div class="row text-center dark">
            <div class="col"></div>
        </div>
        <div class="row dark">
            <div class="col">
                <iframe width="100%" height="300px" src="https://www.youtube.com/embed/sMi2U7FG9HE" frameborder="0"
                        allowfullscreen></iframe>

            </div>
        </div>

    </ion-content>
</ion-view>
