<ion-view>
    <ion-nav-title>Formación</ion-nav-title>
    <ion-content>
        <div id="lineup">
            <div class="row">
                <div class="col col-33 col-offset-33"><img src="http://ionicframework.com/img/docs/spengler.jpg"></div>
            </div>
            <div class="row">
                <div class="col col-25 col-offset-25"><img src="http://ionicframework.com/img/docs/stantz.jpg"></div>
                <div class="col col-25 "><img src="http://ionicframework.com/img/docs/winston.jpg"></div>
            </div>

            <div class="row">
                <div class="col col-25"><img src="http://ionicframework.com/img/docs/stantz.jpg"></div>
                <div class="col col-25 col-offset-50"><img src="http://ionicframework.com/img/docs/spengler.jpg"></div>
            </div>

            <div class="row">
                <div class="col col-25 col-offset-25"><img src="http://ionicframework.com/img/docs/stantz.jpg"></div>
                <div class="col col-25"><img src="http://ionicframework.com/img/docs/winston.jpg"></div>
            </div>

            <div class="row">
                <div class="col col-25"><img src="http://ionicframework.com/img/docs/venkman.jpg"></div>
                <div class="col col-25 col-offset-50"><img src="http://ionicframework.com/img/docs/spengler.jpg"></div>
            </div>
            <div class="row">
                <div class="col col-25 col-offset-25"><img src="http://ionicframework.com/img/docs/stantz.jpg"></div>
                <div class="col col-25 "><img src="http://ionicframework.com/img/docs/stantz.jpg"></div>
            </div>
        </div>
    </ion-content>
</ion-view>
