<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Mensaje</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">Cerrar</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-input">
                <div class="row">
                    <div class="col-33">Título:</div>
                    <div class="col">{{message.title}}</div>
                </div>
            </div>
            <div class="item item-input">
                <div class="row">
                    <div class="col-33">Fecha:</div>
                    <div class="col">{{message.date}}</div>
                </div>
            </div>
            <div class="item item-input">
                <div class="row">
                    <div class="col-33">Mensaje:</div>
                    <div class="col text-wrap">{{message.message}}</div>
                </div>
            </div>
            <label class="item">
                <button class="button button-block button-dark" type="submit">Marcar como leído</button>
            </label>
        </div>
    </ion-content>
</ion-modal-view>
