<ion-view view-title="Plantel">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Goleros
      </div>
      <a class="item item-avatar" href="#">
        <img src="http://ionicframework.com/img/docs/venkman.jpg">
        <h2>Loenardo Burián</h2>
        <p>25 años número 1</p>
      </a>
      <div class="item item-divider">
        Defensas
      </div>
      <a class="item item-avatar" href="#">
        <img src="http://ionicframework.com/img/docs/spengler.jpg">
        <h2>Alex Silva</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://ionicframework.com/img/docs/stantz.jpg">
        <h2>Gastón Bueno</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://ionicframework.com/img/docs/winston.jpg">
        <h2>Emiliano Diaz</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://ionicframework.com/img/docs/venkman.jpg">
        <h2>Maximiliano Olivera</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <div class="item item-divider">
        Mediocampistas
      </div>
      <a class="item item-avatar" href="#">
        <img src="http://ionicframework.com/img/docs/spengler.jpg">
        <h2>Adrian Colombino</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://ionicframework.com/img/docs/stantz.jpg">
        <h2>Diego Scoti</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://ionicframework.com/img/docs/winston.jpg">
        <h2>Matías Santos</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <div class="item item-divider">
        Delanteros
      </div>
      <a class="item item-avatar" href="#">
        <img src="http://ionicframework.com/img/docs/spengler.jpg">
        <h2>Gastón Rodriguez</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://ionicframework.com/img/docs/stantz.jpg">
        <h2>Javier Cabrera</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="http://ionicframework.com/img/docs/winston.jpg">
        <h2>Danilo Peinado</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <div class="item item-divider">
        Cuerpo Técnico
      </div>
      <a class="item item-avatar" href="#">
        <img src="http://ionicframework.com/img/docs/venkman.jpg">
        <h2>Gastón Machado</h2>
        <p>Director técnico</p>
      </a>


    </div>
  </ion-content>
</ion-view>
